.post img {
  width: 700px;
  height: 350px;
}
.post-comments {
  width: 600px;
  margin: auto;
}
.post-comments textarea {
  margin-top: 10px;
}
.post-comments button.btn {
  margin-top: 5px;
}
.post-comments .bg-danger, .bg-success {
  padding: 15px;
  border-radius: 0 0 4px 4px;
}
.post-comments .bg-danger span {
  display: block;
}

#pagination .current-page {
  font-weight: bold;
}

.bs-callout {
    text-align: left;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout h4 span {
  font-size: 12px;
  margin-left: 2px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}