{% extends "admin.html" %}
{% set page = 'channel' %}
{% block title %}Edit {{ cnl.title }}{% endblock %}
{% block body %}
  {% if cnl.id != 0 %}
    <h1>Edit Channel</h1>
    <p class="lead">Enter the new details for {{ channel.title }}</p>
    <form method="POST">
      <div class="form-group">
        <label for="channel-title">Title*</label>
        <input name="channel_title" type="text" class="form-control" id="channel-title" value="{{ cnl.title }}" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="channel-link">Link*</label>
        <input name="channel_link" type="text" class="form-control" id="channel-link" value="{{ cnl.link }}" placeholder="Link">
      </div>
      <div class="form-group">
        <label for="channel-description">Description*</label>
        <textarea  name="channel_description" id="channel-description" class="form-control" rows="3" placeholder="Description">{{ cnl.description }}</textarea>
      </div>
      <div class="form-group">
        <label>Categories</label>
        {% for cat in cats %}
        <div class="checkbox">
          <label>
            <input type="checkbox" name="channel_cats[]" value="{{ cat.id }}" {% if cat.checked %}checked{% endif %}>
            {{ cat.title|capitalize }}
          </label>
        </div>
        {% endfor %}
      </div>
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% endif %}
{% endblock %}